.WeatherForecast {
  text-align: center;
  margin-top: 10px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast canvas {
  width: 35px !important;
  height: 35px !important;
  margin: 2px auto;
}
