.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  margin-left: 0;
  font-weight: 400;
  margin-left: 10px;
}

.Weather .clearfix {
  display: flex;
  align-items: center;
}

.Weather .clearfix canvas {
  margin-right: 10px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

/* --- Media Queries for Smaller Screens (e.g., Mobile Phones) --- */

@media (max-width: 576px) {
  .Weather {
    padding: 10px;
  }

  .Weather h1 {
    font-size: 20px;
  }

  .Weather .clearfix {
    align-items: flex-start;
  }

  .Weather .clearfix canvas {
    margin-right: 0;
  }

  .Weather .temperature {
    font-size: 50px;
    line-height: 50px;
    margin-left: 0;
  }

  .Weather .unit {
    top: -25px;
    font-size: 14px;
  }
}
